:root{
  --white-text: #c9c9c9; /* COLOR DE LA LETRA */
  --white-icons: #e9e9e9; /* COLOR DE LOS ICONOS  */
  --black: #13161C; /* COLOR DE LOS MENU Y DE LAS TABLAS Y TARJETAS */
  --Gray: #272727; /* COLOR DEL CONTAINER  */
  --Buton-color: #6366F1; /* COLOR DE LOS BOTONES DE LAS TABLAS Y LOS DEMAS BOTONES */
  --Buton-hover-color: #5356F2; /* COLOR DE LOS HOVER DE LOS BOTONES */
  --tabla-linea-color: #fff48d; /* COLOR DE LA RAYA DE LAS TABLAS */
  --white-red: #d85757; /* POSIBLE COLOR DE LOS HOVERES ICONOS DE ELIMINAR */
  --white-green: #e67e22; /* COLOR DE LOS HOVERS DE LAS TARJETAS POR EL MOMENTO */
  --font:  "General Sans", sans-serif; /* TIPO DE FUENTE */
}

body {
  background-color: #13161C !important;
  font-family: 'General Sans', sans-serif !important;
  color: var(--white-text) !important;
}

/* CONTENEDOR */
.login-container {
  margin-top: 15vh;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  width: 400px !important;
  min-width: 400;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORMULARIO */
.login-form-group {
  margin-top: 20px;
  width: 350px;
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* TITULO */
.titulo {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

/* BOTONES */
.login-btn {
  width: 100%;
  margin-bottom: 20px;  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  letter-spacing: 2px;
}

.login-btn-ingresar{
  border-color: #fff48d !important;
  height: 45px;
}

/* MENSAJE DE ERROR */
.error {
  color: rgb(255, 0, 0);
  left: 2px;
  font-size: 14px;
  position: absolute;
  bottom: auto;

}

/* Caja de contenido (genérica) */
.login-box-t	 {
  border-radius: 30px;
  width: 330px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTENEDOR DE LA IMAGEN */
fieldset .login-img-container {
  display: flex;
  justify-content: center;
  margin-top: -90px;
  margin-bottom: 20px;
}

/* IMAGEN DE USUARIO */
.login-avatar { 
  height: 120px;
  width: 120px;
}

/* CONTENEDOR DE LOS INPUTS, LABEL Y SPAN */
.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}
.ic2 {
  margin-top: 50px;
}

/* INPUTS */
.login-input {
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: white;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  height: 100%;
  padding: 4px 20px 0;
  width: 300px;
  max-width: 300px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
}
.login-input::placeholder {
  color: #ffffff !important;
  opacity: 0.5; 
}

/* Estilo del input al enfocar (subrayado) */
.login-input:focus {
  border-bottom: 2px solid var(--tabla-linea-color);
  border-radius: 0;
  outline: none;
}

/* ESTILO AUTOFILL */
.login-input:-webkit-autofill {
  background-color: rgb(255, 255, 255);
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

/* Línea de registro */
.linea-registro {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.linea-registro::after, .linea-registro::before {
  content: "";
  flex: 1;
  border-bottom: 1.5px solid #ffffffa2;
}

.linea-registro:not(:empty)::after {
  margin-left: 10px;
}

.linea-registro:not(:empty)::before {
  margin-right: 10px;
}

.linea-registro span {
  color: white;
  font-size: 14px;
}

.acepto {
  color: #fff;
}

.aRecuperar {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  color: #ffffff !important;
  text-decoration: none;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.aRecuperar:hover {
  color: #ffffff !important;
}

